@import "@hyrious/github-markdown-css";
@import "./temp/hljs.css";
@import "./temp/katex.css";

body {
  transition: opacity 0.2s;
}

body.loading {
  opacity: 0.5;
}

.mermaid {
  text-align: center;
}
