@import "@hyrious/github-markdown-css";
@import "./temp/hljs.css";
@import "./temp/katex.css";

pre code.hljs {
  padding: 0;
}

body {
  transition: opacity 0.2s;
}

body.loading {
  opacity: 0.5;
}

.mermaid {
  text-align: center;
}

.markdown-body video {
  min-height: 200px;
  max-height: 650px;
  max-width: 100% !important;
}
