@import "@hyrious/github-markdown-css";
@import "./temp/hljs.css";
@import "./temp/katex.css";

body {
  transition: opacity 0.2s;
}

body.loading {
  opacity: 0.5;
}

.mermaid {
  text-align: center;
}

@media (prefers-color-scheme: dark) {
  .markdown-body {
    --color-accent-fg: #58a6ff;
    --color-attention-fg: #d29922;
  }
}

@media (prefers-color-scheme: light) {
  .markdown-body {
    --color-accent-fg: #0969da;
    --color-attention-fg: #9a6700;
  }
}

/* styles for **Note** */
.color-fg-accent {
  color: var(--color-accent-fg) !important;
}

/* styles for **Warning** */
.color-fg-attention {
  color: var(--color-attention-fg) !important;
}

.mr-2 {
  margin-right: 8px !important;
}
